@font-face {
	font-family: PowerClear;
	src: url("../pkmndp.ttf");
}

html, body {
	padding: 0;
	margin: 0;
	background-color: #f5f5f5;
	width: 100%;
	height: 100%;
	font-family: PowerClear;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

#top-screen, #bottom-screen {
	position: relative;
	margin: 0 auto;
	height: 190px;
	width: 256px;
	border: 2px solid #292929;
	border-radius: 2px;
}

#player, #player-name, #player-health-bar, #player-info, #player-lvl,
#cpu, #cpu-name, #cpu-health-bar, #cpu-info, #cpu-lvl,
#attack, #text-box, #action-text, .move-button, .move-text, #game-over {
	position: absolute;
}

#player-name, #player-lvl,
#cpu-name, #cpu-lvl,
#text-box {
	font-size: 12px;
}

#main-container {
	width: 550px;
	height: 570px;
	background-image: url("../img/ds-lite.png");
}

#top-screen {
	top: 40px;
}

#bottom-screen {
	top: 138px;
}

#top-screen img {
	display: block;
}

#player {
	bottom: 46px;
	left: 38px;
}

#player-info {
	top: 98px;
	right: 0;
}

#player-health-bar {
	width: 48px;
	top: 118px;
	right: 10px;
}

#player-health {
	width: 100%;
	height: 4px;
	transition: all .2s;
}

#player-name {
	top: 101px;
	left: 151px;
}

#player-lvl {
	top: 101px;
	left: 225px;
}

#cpu {
	top: 47px;
	right: 48px;
}

#cpu-info {
	top: 22px;
	left: 0;
}

#cpu-health-bar {
	width: 48px;
	top: 42px;
	left: 50px;
}

#cpu-health {
	width: 100%;
	height: 4px;
	transition: all .2s;
}

#cpu-name {
	top: 25px;
	left: 4px;
}

#cpu-lvl {
	top: 25px;
	left: 75px;
}

.hbar-good {
	background-image: url("../img/hbar-good.png");
}

.hbar-mid {
	background-image: url("../img/hbar-mid.png");
}

.hbar-bad {
	background-image: url("../img/hbar-bad.png");
}

.cpu-attack {
	bottom: 46px;
	left: 34px;
}

.player-attack {
	top: 56px;
	right: 30px;
}

#text-box {
	z-index: 1;
}

#action-text {
	width: 222px;
	top: 9px;
	left: 13px;
}

.move-button {
	display: block;
	height: 54px;
	cursor: pointer;
}

.move-text {
	width: 98px;
	top: 21px;
	left: 13px;
	font-size: 14px;
	text-align: center;
}

#game-over {
	font-size: 25px;
	bottom: 15px;
	width: 256px;
	text-align: center;
	color: red;
}

/*---- Utility Classes ----*/
.bullseye {
	margin: auto !important;
	position: absolute !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
}

.hide {
	display: none !important;
}
